@page "/counter"

<div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <RadzenCard Class="m-3">
                    <div class="d-flex flex-row p-3">
                        <RadzenImage Path="https://www.google.com/url?sa=i&url=https%3A%2F%2Fshopee.co.id%2FSamsung-Galaxy-Note-10-Plus-RAM-12GB-256GB-12GB-512GB-Original-New-BNIB-100-IMEI-AMAN-ALL-Provider-i.173755343.2893480540&psig=AOvVaw2T35V_-OT_R-BpQHwB38LI&ust=1674185587886000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCPDOu7vZ0vwCFQAAAAAdAAAAABAh" Class="float-start me-3" Style="width: 100px; height: 100px;" />
                    </div>
                    <RadzenCard Class="my-3 rz-background-color-primary-lighter rz-shadow-0 rz-border-radius-0" style="margin: 0 calc(-1 * var(--rz-card-padding)); padding: 2rem;">
                        <RadzenText TextStyle="TextStyle.H6" Class="rz-color-primary-light"><strong>Android Samsung Note 10</strong></RadzenText>
                        <div class="row">
                            <div class="col-md-12">
                                <RadzenText TextStyle="TextStyle.Body1"><b>Rp12.000.000</b></RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2"><b>Samsung</b></RadzenText>
                            </div>
                        </div>
                    </RadzenCard>
                </RadzenCard>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <RadzenCard Class="m-3">
                    <div class="d-flex flex-row p-3">
                        <RadzenImage Path="https://www.google.com/url?sa=i&url=https%3A%2F%2Fshopee.co.id%2FSamsung-Galaxy-Note-10-Plus-RAM-12GB-256GB-12GB-512GB-Original-New-BNIB-100-IMEI-AMAN-ALL-Provider-i.173755343.2893480540&psig=AOvVaw2T35V_-OT_R-BpQHwB38LI&ust=1674185587886000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCPDOu7vZ0vwCFQAAAAAdAAAAABAh" Class="float-start me-3" Style="width: 100px; height: 100px;" />
                    </div>
                    <RadzenCard Class="my-3 rz-background-color-primary-lighter rz-shadow-0 rz-border-radius-0" style="margin: 0 calc(-1 * var(--rz-card-padding)); padding: 2rem;">
                        <RadzenText TextStyle="TextStyle.H6" Class="rz-color-primary-light"><strong>Android Samsung Note 10</strong></RadzenText>
                        <div class="row">
                            <div class="col-md-12">
                                <RadzenText TextStyle="TextStyle.Body1"><b>Rp12.000.000</b></RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2"><b>Samsung</b></RadzenText>
                            </div>
                        </div>
                    </RadzenCard>
                </RadzenCard>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <RadzenCard Class="m-3">
                    <div class="d-flex flex-row p-3">
                        <RadzenImage Path="https://www.google.com/url?sa=i&url=https%3A%2F%2Fshopee.co.id%2FSamsung-Galaxy-Note-10-Plus-RAM-12GB-256GB-12GB-512GB-Original-New-BNIB-100-IMEI-AMAN-ALL-Provider-i.173755343.2893480540&psig=AOvVaw2T35V_-OT_R-BpQHwB38LI&ust=1674185587886000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCPDOu7vZ0vwCFQAAAAAdAAAAABAh" Class="float-start me-3" Style="width: 100px; height: 100px;" />
                    </div>
                    <RadzenCard Class="my-3 rz-background-color-primary-lighter rz-shadow-0 rz-border-radius-0" style="margin: 0 calc(-1 * var(--rz-card-padding)); padding: 2rem;">
                        <RadzenText TextStyle="TextStyle.H6" Class="rz-color-primary-light"><strong>Android Samsung Note 10</strong></RadzenText>
                        <div class="row">
                            <div class="col-md-12">
                                <RadzenText TextStyle="TextStyle.Body1"><b>Rp12.000.000</b></RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2"><b>Samsung</b></RadzenText>
                            </div>
                        </div>
                    </RadzenCard>
                </RadzenCard>
            </div>
        </div>
</div>

<style>

</style>