@inherits LayoutComponentBase

<div class="page">
    
    <main>
        <article>
            @Body
        </article>
    </main>

    <nav class="navbar bg-light navbar-expand fixed-bottom">
        <ul class="navbar-nav nav-justified w-100">
            <li class="nav-item">
                <a style="color:black;" href="#" class="nav-link text-center">
                    <i class="fa-solid fa-house" style="color:green"></i><span class="small d-block" style="color:forestgreen">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a style="color:black;" href="#" class="nav-link text-center">
                    <i class="fa-solid fa-heart"></i><span class="small d-block">Wishlist</span>
                </a>
            </li>
            <li class="nav-item">
                <a style="color:black;" href="#" class="nav-link text-center">
                    <i class="fa-solid fa-receipt"></i><span class="small d-block">Transaksi</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<style>
    .navbar {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
</style>